.menu-btn {
   position: absolute;
   top: 1rem;
   right: 1rem; 
}
.menu-check:checked + .links {
    transform: translateY(0);
}
.links {
    transform: translate(-200%);
    transition: transform 1s;
    background-color: red;
    color: white;
    padding: 1rem;
    width: 100%;
}
@media screen and (min-width: 768px){
   .menu-btn{
    display: none;
   } 
   .links {
    transform: translateY(0);
   }
}